.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.eslintrc.json
build-extension.sh
resources/create-icon.*
resources/icon-generator.html
resources/ICON-CREATION.md
resources/README.md
DEVELOPMENT.md
